body
{
    background-color:yellow;
    font-size:large;
    font-family:ALGERIAN;
}
em 
{
    font-size: large ;
}
div 
{
    font-family: Comic Sans MS;
}
em
{
    font-family: INFORMAL ROMAN;
    font-size: xx-large;
}
#carnel
{
    font-family:Narkisim;
    font-size: large;
}
#am
{
    font-family: Narkisim;
}