body
{
    background-color:#EEFF41;
    margin: auto;
    font-size: larges;
    
}
h2
{
    font-family: ALGERIAN ;
}
h1 
{
    letter-spacing: normal;
    font-family: Monotype Corsiva;
    font-size: xx-large;
}
p
{
    font-family: Comic Sans MS;  
}
.meme
{
    font-family: Comic  Sans MS;
}